@import "../../../theme.css";

#outer_box {
    border: solid var(--alt);
    border-radius: 1em;
    overflow: hidden;
}

#Box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
