@import "./theme.css";

.App {
    background-color: var(--back);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#bottom  {
    width: calc(100% - 0.5em);
    height: calc(100% - 1.5em);
    border-radius: 1em;
    border: 2px solid var(--alt);
    text-align: center;
    color: var(--text);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
}
