@import "../../theme.css";

.history {
    font-size: 0.7em;
    height: 100%;
}

#topbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    align-items: center;
    text-align: left;
}

#sort_box {
    display: flex;
    justify-content: center;
    gap: 1em;
    grid-column: 4;
}

#sort_by, #accending {
    font-weight: bold;
    color: var(--alt);
    border-radius: 0.5em;
    border: solid var(--alt);
    margin: 0.1em 0;
    text-align: center;
}

#sort_by {
    width: 6ch;
}

.top_box{
    display: flex;
    width: 2ch;
    justify-content: center;
    border-radius: .5em;
    border: solid var(--alt);
    margin: 2px;
}

.top_box:hover{
    background: var(--alt);
    color: var(--back);
}

#data_header {
    border-top: solid var(--alt);
    border-bottom: solid #0009;
}

#data_header>* {
    border-left: solid #0009;
}

.data_columns {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 1fr 1fr 0.5fr;
}

#data {
    height: 100%;
    overflow-y: overlay;
    font-size: 0.8em;
}

#data-link, #data-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1.5em;
    text-align: left;
}

#data-link, #data-link>* {
    color: var(--alt);
}

.row {
    background-color: var(--back);
}
.row>*{
    overflow: hidden;
    border-left: solid #0009;
}

.data_columns>*:first-child {
    border-left: none !important;
}

.row:nth-child(2n+1) {
    filter: brightness(150%);
}
.row:nth-child(2n) {
    filter: brightness(90%);
}
.row:last-child {
    margin-bottom: 4em;
}
